<div class="contact-modal modal">
  <a class="close-modal" href="#"></a>
  <form class="contact-form" action="//formspree.io/justin.shearer@gmail.com" method="POST">
    <h1>Contact Justin</h1>
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Email or Phone" placeholder="Email or Phone">
    <textarea name="Quick Note" placeholder="Quick Note"></textarea>
    <input type="hidden" name="_next" value="http://justin.town/#thanks" />
    <input type="text" name="_gotcha" style="display:none" />
    <div class="right-align perspective">
      <input class="contact-form-button button" type="submit" value="contact">
    </div>
</form>
</div>
